@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #0B011D;
  --color-accent-green: #1ABC9C;
  --color-accent-purple: #7854F7;
  --color-light: #F8F9FB;

  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-light);
  color: var(--color-primary);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}